.containerfluid {
    height: 100vh; /* Set container height to full viewport height */
  }
  
  .spin-border {
    width: 3rem;
    height: 3rem;
    /* Center the spinner horizontally */
    margin-left: auto;
    margin-right: auto;
    /* Center the spinner vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.exercise-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  .cards {
    width: 32%;
    margin: 5px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1024px) {
    .exercise-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 50px;
    }
    .cards {
      width: 48%;
      margin: 5.65px;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .exercise-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 50px;
    }
    .cards {
      width: 40%;
      margin: 5.7px;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 425px) {
    .exercise-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 70px;
    }
    .cards {
      width: 46%;
      margin: 6.5px;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 320px) {
    .exercise-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 70px;
    }
    .cards {
      width: 65%;
      margin: 5px;
      margin-bottom: 10px;
    }
  } 